body {
    background-color: #393939;
}

.navbar-custom{
    background-color: #6e6e6e;
    border-style: solid;
    border-width: 3px;
    border-color: #ff9900;

}

.create_article_link{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 150px;
    height: 50px;
    background-color: #FF5A09;
    color: #F7F7F7;
    border-style: solid;
    border-width: 3px;
    border-color: #6e6e6e;
}

.btn-custom {
    position: relative;
    height: 50px;
    background-color: #f3843e;
    border-style: solid;
    background-color: transparent;
    color: #f3843e;
}

#dropdownMenu1:hover{
    color:#F7F7F7;
}

#brand {
    color: #f3843e;
}

#brand:hover {
    color: #F7F7F7;
}
.sidebar{
    position: absolute;
    top:53px; bottom:0; left:0;
    height: 1510px;
    width:200px;
    border-style: solid;
    border-width: 3px;
    border-top-color: transparent;
    border-color: #ff9900;
    background: #6e6e6e;
    color: #F7F7F7;
}

.jumbotron h1 {
    color: #FF5A09;
}

.jumbotron{
    background-color: #393939;
    color: #F7F7F7;
}
#dropdown-menu ul {
    background-color: #393939;
}
#menu li a {
    display:block;
    height: 50px; /* CHANGED THIS FROM 30px TO 50px */
    float:left;
    position:relative;
    margin:0 9px 0 0;
    padding:0;
    width:140px;
    filter: alpha(opacity=75); /* internet explorer */
    -khtml-opacity: 0.75;      /* khtml, old safari */
    -moz-opacity: 0.75;       /* mozilla, netscape */
    opacity: 0.75;
}
.mainheader {
    text-align: center;
    position: relative;
}

.article_title {
    display: list-item;
    margin-right: 700px;
    margin-left: 700px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #ff9900;

}

.article_body{

    padding-top: 10px;
    margin-left: 300px;
    margin-right: 300px;
    width: 1000px;
    height: 1450px;
    border-style: solid;
    border-width: 3px;
    border-color: #ff9900;

}

.btn-btn-article{
    float: right;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-right: 270px;
    margin-bottom: 150px;
    background-color: #FF5A09;
    color: #F7F7F7;
    border-style: solid;
    border-width: 3px;
    border-color: #6e6e6e;
}

.article_area{
    background-color: #6e6e6e;
    margin-top: 15px;
    margin-bottom: 20px;
}

.col-sm-12{
    display: block;
    text-align: center;
}

.title{
    color: #f3843e;
    text-decoration: solid #F7F7F7;
}


.content {
    color: #F7F7F7;
}

.time {
    color: #FF5A09;

}
