<nav class="navbar navbar-custom" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand navbar-left" id="brand" href="/">ChatMe</a>
    <div class="dropdown navbar-right">
      <button class="btn btn-custom dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-align-justify"></span>
      </button>
      <ul class="dropdown-menu" id="menu" aria-labelledby="dropdownMenu1">
        <li><a href="#"><i class="glyphicon glyphicon-user"></i>Profile</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="glyphicon glyphicon-star"></i>Friends List</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="glyphicon glyphicon-envelope"></i>Messages</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="glyphicon glyphicon-log-in"></i>Login</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="glyphicon glyphicon-log-out"></i>Logout</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="glyphicon glyphicon-pencil"></i>Register</a></li>
      </ul>
    </div>
  </div>
</nav>

<aside class="sidebar" id="sidebar">
  <article>
    <h3>Free Writing Is Beautiful</h3>
    <p>The art of writing has been around for centuries. Writing is the best way people can express themselves. You can
      writing with your emotions to free your mind from the situation or current events going on inside of your day to
      day life.</p>
  </article>
</aside>

<% @articles.each do |article| %>
    <div class="container article_area">
      <div class="col-sm-12 title">
      <h2 class="title"><%= article.title %></h2>
      </div>
      <div class="col-sm-12 body">
      <article class="content"><%= article.body %></article>
      </div>
      <div class="col-sm-12 time">
      <p class="time"><%= article.created_at %></p>
    </div>
    </div>
<% end %>

<%= button_to "Create an Article", new_article_path, :class => "create_article_link", :method => 'get' %>